<div class="container first-container">
  <div class="row">
    <div class="col-md-4 first-cols">
      <div class="artist-name">
        <p id="p-sb">{{artist.name | uppercase}}</p>
      </div>
      <div class="short-bio">
        <p>{{artist.shortBio}}</p>
      </div>
    </div>
    <div class="col-md-4 first-cols">
      <div class="image">
        <img src="{{ artist.photo }}" alt="" id="image" />
      </div>
    </div>
  </div>
</div>

<div class="container second-container">
  <div class="bio">
    {{artist.bio}}
  </div>
  <div class="sc-links" id="sc-links" (click)="toggleScLinks()">
    <div class="sc-sound" *ngFor="let url of urls">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
        [src]="url">
      </iframe>
    </div>
  </div>
  <div class="other-infos">
    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</div>
