@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  transition: 1s ease;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 10px 10px 18px -3px rgba(0, 0, 0, 0.27);
}

.release-image {
  margin-top: 50px;
  text-align: center;
}

.release-info {
  text-align: center;
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  transition: 1s ease;
}
